.pageframe-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    a {
        color: inherit;
    }

    @import '../components/header/header.css';
    @import '../components/header/navbar.css';
    @import '../components/projects/projects.css';
    @import '../components/projects/project.css';
    @import '../components/users/users.css';
}