$topbar-h: 35px;
$navbar-h: 60px;
$ops-btn-color: #2db7f5;

.pf-head {
    height: $topbar-h;
    background: $dark-bgc;
    color: $dark-ftc;
    z-index: 10;

    .pf-topbar {
        height: $topbar-h;
        background: $light-bgc;
        display: flex;

        .pf-logo {
            display: inline-block;
            height: $topbar-h;
            overflow: hidden;
            width: 120px;
            color: #1c2b36;

            h1 {
                font-size: 37px;
                margin-top: 5px;
                line-height: 35px;
                text-align: center;
                text-shadow: 0 0 3px #131e26;
            }
        }

        .pf-switch-proj {
            display: inline-block;
            // width: 260px;
            line-height: $topbar-h;
            margin-left: 20px;
            .pf-tlb-text {
                display: inline-block;
                vertical-align: middle;
            }
            .ant-select {
                width: 200px;
            }
        }

        .pf-tlb-info {
            display: inline-block;
            line-height: $topbar-h;
            text-align: right;
            flex: 1;

            .pf-tlb-tips {
                display: inline-block;
                padding: 0 5px;
            }
            .pf-tlb-button {
                padding: 0 10px;
                cursor: pointer;
                .anticon {
                    color: $ops-btn-color;
                }
                &:hover {
                    color: $ops-btn-color;
                }
            }
        }
    }
}

.pf-body {
    flex: 1;
    background: $light-bgc;
}